.slider {
  margin: 15px auto auto auto;
  max-width: 800px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px black solid;
}

.slider__prev-button,
.slider__next-button {
  cursor: pointer;
  position: absolute;
  top: 40%;
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin: 2px;
  padding: 5px;
  z-index: 1;
  opacity: 0.8;
  transition: 0.1s;
}

.slider__next-button {
  right: 0;
}

.slider__prev-button:hover,
.slider__next-button:hover {
  opacity: 1;
  font-size: 27px;
}
